<!-- <nb-card> -->
<!-- <nb-card-header> -->
<div class="signout-main">

  <h5 class="text-center">Delete</h5>
  <!-- </nb-card-header> -->
  <!-- <nb-card-body> -->
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-center">Are you sure, You want to Delete? </h6>
    </div>
  </div>
  <div class="button-center mt-1">
    <button nbButton outline shape="round" (click)="cancel()" class="cancel float-left">Close</button>
    <button nbButton outline shape="round" (click)="submit()" class="float-right submit">Ok</button>
  </div>
</div>
<!-- </nb-card-body> -->
<!-- </nb-card> -->
