<div>
  <div class="add-btn-div">
    <button class="done-btn" (click)="toInstructions()">Add Instructions</button>
  </div>
  <div class="test-case-container">
    <div class="test-case-head">
      <h5>{{appName}} Test Cases</h5>
      <button class="add-test-case-btn" (click)="openDialog('testCase', 'name')">Add Test Case</button>

    </div>
    <div class="test-case-main">
      <div *ngIf="testCasesArray.length === 0" class="no-app-div">
        <h4>Add Test Cases</h4>
      </div>


      <div *ngIf="testCasesArray.length > 0">
        <div class="test-case-div-container">
          <div class="table-data-div" *ngFor="let testCase of testCasesArray; let i = index">
            <nb-accordion class="accordian-container">
              <nb-accordion-item>
                <nb-accordion-item-header class="accordian-header">
                  {{ testCase?.screen_name }}

                  <div class="add-new" [nbPopover]="list" #popover="nbPopover" >
                    <nb-icon icon="edit-outline" nbPopoverPlacement="bottom-end" ></nb-icon>
                  </div>
                  <!-- <button class="add-new"
                    (click)="openDialog('testCase', 'instruction', testCase?.instruction_set_id)">Add
                    Instructions</button> -->


                  <ng-template #list>
                    <nb-card class="popover-card">
                      <nb-list>
                        <nb-list-item  (click)="openDialog('testCase', 'name', testCase?.instruction_set_id ,testCase, true)" >Edit Testcase</nb-list-item>
                        <nb-list-item   (click)="openDeleteDailog(testCase)" >Delete</nb-list-item>
                        <nb-list-item  (click)="openDialog('testCase', 'reorder','',testCase)" >Edit Instructions</nb-list-item>
                        <nb-list-item   (click)="openDialog('testCase', 'instruction',testCase?.instruction_set_id)" >Add Instructions</nb-list-item>
                      </nb-list>
                    </nb-card>
                  </ng-template>

                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <div  *ngIf="testCase?.instructions.length !== 0" >
                    <div *ngFor="let testcase of testCase?.instructions">
                      {{ testcase?.instruction_name }}

                    </div>
                  </div>
                  <div class="accordian-body-div" *ngIf="testCase?.instructions.length === 0"  >
                    <button  class="add-new empty-btn-1" (click)="openDialog('testCase', 'instruction', testCase?.instruction_set_id)">Add
                      Instructions</button>
                  </div>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr>
  <div class="test-case-container">
    <div class="test-case-head">
      <h5>{{appName}} Templates</h5>
      <button class="add-test-case-btn" (click)="openDialog('template', 'name')">Create Template</button>
    </div>
    <div class="test-case-main">
      <div *ngIf="templateArray.length === 0" class="no-template-div">
        <h4>Add Templates</h4>
      </div>
      <div *ngIf="templateArray.length > 0">
        <div class="template-div-container">
          <div class="table-data-div" *ngFor="let template of templateArray">
            <nb-accordion class="accordian-container">
              <nb-accordion-item>
                <nb-accordion-item-header class="template-header">
                  <div *ngIf="template?.wt_name" [nbTooltip]="template?.wt_name" class="template-name">
                    {{template?.wt_name}}
                  </div>
                  <div *ngIf="template?.wt_desc" [nbTooltip]="template?.wt_desc" class="template-description">
                    Description: <span>{{template?.wt_desc}}</span>
                  </div>

                  <div class="add-new" [nbPopover]="listTemplate" #popover="nbPopover" >
                    <nb-icon   icon="edit-outline"  nbPopoverPlacement="bottom-end" ></nb-icon>
                  </div>
                  
                  <ng-template #listTemplate>
                    <nb-card class="popover-card">
                      <nb-list>
                        <nb-list-item  (click)="openDialog('template', 'name',template?.wt_id, template, true)" >Edit Name and Desc</nb-list-item>
                        <nb-list-item  (click)="openDeleteDailog(template)" >Delete</nb-list-item>
                        <nb-list-item  (click)="openDialog('template', 'reorder', '', template)" >Edit Screens</nb-list-item>
                        <nb-list-item  (click)="openDialog('template', 'testCase',template?.wt_id)" >Add Screens</nb-list-item>
                      </nb-list>
                    </nb-card>
                  </ng-template>


                  <!-- <button class="add-new" (click)="openDialog('template', 'testCase',template?.wt_id)">Add Screens</button> -->
                  <nb-icon  *ngIf="template?.screens.length !== 0"   (click)="automateTemplate(template)" class="icon-btn" icon="play-circle-outline"></nb-icon>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <nb-accordion class="accordian-container" *ngFor="let testCase of template?.screens">
                    <nb-accordion-item>
                      <nb-accordion-item-header class="accordian-header">
                        {{ testCase?.ins_set_screen_name }}
                      </nb-accordion-item-header>
                      <nb-accordion-item-body  *ngIf="template?.screens.length !== 0" >
                        <div class="">
                          <div  *ngFor="let testcase of testCase?.instructions">
                            {{ testcase?.ins_name }}


                          </div>
                        </div>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
                  </nb-accordion>
                  <nb-accordion-item-body  class="accordian-body-div" *ngIf="template?.screens.length === 0"  >
                    <button   class="add-new " (click)="openDialog('template', 'testCase',template?.wt_id)">Add Screens</button>
                  </nb-accordion-item-body>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
