// .custom-form {
//     // max-width: 800px;
//     margin: 0 auto;
//     border-radius: 8px;
//   }

//   /* Form row with two fields side by side */

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(96, 184, 189, 0.68);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1cdbe7;
}

.custom-form{
  max-height: 400px;
}

nb-card-body {
  overflow-y: scroll;
  overflow-x: hidden;
}


.form-row {
    display: flex;
    gap: 20px; /* Add space between the form fields */
    margin-bottom: 0px;
    width: 300px;
  }

//   /* Each form group inside the row */
  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 5px;
  }

//   /* Label styling */
  label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
  }

//   /* Input fields and select dropdowns */
  .form-control,
  .custom-select-dropdown {
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border 0.3s ease;
    max-width: 100% !important;
  }

//   /* Focused input fields and select dropdowns */
  .form-control:focus,
  .custom-select-dropdown:focus {
    border-color: #007bff;
    outline: none;
  }

//   /* Error message styling */
  .error-message {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: 5px;
  }

//   /* Submit button styling */
  .submit-button {
    background-color: #00A3AB;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: -30px;
    border-radius: 4px;
    // width: 20%;
    transition: background-color 0.3s ease;
  }

  .submit-button:disabled {
    background-color: #07f6ce;
    color: #000000;
    cursor: not-allowed;
  }

  .submit-button:hover:not(:disabled) {
    background-color: #00A3AB;
    color: #ffffff;
  }

  .submit-button:focus {
    border: none;
    outline: none;
  }

  .button-row{
    justify-content: end;
  }

  nb-card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
  }

  @media (min-width: 900px) and (max-width: 1100px) {
    .custom-form{
      max-height: 300px;
    }
  }


