.instructions-heading{
    padding-left: 1.3em;
    margin-bottom: 1em;
}
.instructions-header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.save-btn{
    background-color: #00A3AB;
    padding: 0.3em 1em;
    outline: none;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    color: #ffffff;
}
.plus-circle-icon{
    color: #00A3AB;
    font-size: 3em;
    cursor: pointer;

    // position: fixed;
    bottom: 0px;
    left: 60%;
    transform: translateX(-50%);
    z-index: 1000;
}
.no-app-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.data-table{
    width: 100%;
}

.add-button{
    color: #00A3AB;
    border: 1px solid #00A3AB;
    border-radius: 25px;
    text-align: center;
    padding: 0.5em 1em;
}

td{
    padding: 1em 0em;
}

.table-header-div{
    display: flex;
    align-items: center;
    margin: 0.5em 0em;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #a4a4a4;
    width: 98%;
}

.table-header{
    width: 40%;
    font-weight: 600;
}

.table-data-div-container{
    height: 72vh;
    overflow-y: auto;
}

.table-data-div{
    display: flex;
    align-items: center;
    margin: 0.5em 0em;
}
.table-data{
    width: 40%;
    word-break: break-all;
}
.table-header-action,
.s-no-div {
    font-weight: 600;
}

.application-container{
    display: flex;
    flex-wrap: wrap;
}
.application-div{
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    gap: 0.5em;
    background-color: #ffffff;
    border-radius: 1em;
}

.application-name{
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.3em 0em;
}

.done-btn{
  margin-right: 3% !important;
    //color: #00A3AB;
    //font-size: 1.3em;
    cursor: pointer;
    //position: fixed;
    //top: 18%;
    //right: 3%;
    //z-index: 1000;
    border: 1px solid #00A3AB;
    //border-radius: 25px;
  background: #00A3AB !important;
  color: white !important;
}

.popover-card{
    margin-bottom: 0;
  }
  .popover-card > nb-list > nb-list-item{
    cursor: pointer;
    transition: 0.3s;
    padding: 0.8rem;
  }
  .popover-card > nb-list > nb-list-item:hover{
    color: #00A3AB;
  }

.data-div{
    height: 62vh;
    overflow: auto;
}
.back-btn{
    color: #00A3AB;
    font-size: 2rem;
    cursor: pointer;
  }
  .action-div{
    position: absolute;
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0rem;
    background: #ebeff6;

  }
