<div class="application-main">
    <div class="instructions-header-div">
        <h5 class="instructions-heading">Anypay 2.0 Instructions</h5>
        <!-- <button *ngIf="applicationDataArr.length > 0" (click)="saveInstructions()" class="save-btn">Save Instructions</button> -->
    </div>
    <div *ngIf="applicationDataArr.length === 0" class="no-app-div">
    <h4>No Instructions Added Yet</h4>
  </div>
      <div *ngIf="applicationDataArr.length > 0">
      <div class="container">
        <div class="row table-header-div">
          <div class="col-1 s-no-div">S.No</div>
          <div class="col-3 table-header ">Actions</div>
          <div class="col-4 table-header ">Element Name</div>
          <div class="col-4 table-header-action">Normal Name</div>
        </div>
      </div>
      <div class="container">
        <div class="row table-data-div" *ngFor="let item of applicationDataArr; let i = index">
          <div class="col-1">{{i + 1}}</div>
          <div class="col-3 table-data">{{item.actions}}</div>
          <div class="col-4 table-data">{{item.elem_name}}</div>
          <div class="col-4 table-data">{{item.normal_name}}</div>
        </div>
      </div>
    </div>
    <nb-icon class="plus-circle-icon" (click)="openDialog()" icon="plus-circle-outline"></nb-icon>
  </div>