<nb-card>
    <nb-card-header>Instructions</nb-card-header>
    <nb-card-body>
        <form [formGroup]="myForm"  class="custom-form">
            <div class="form-row">
            <div class="form-group">
              <label for="actions">Actions<span class="star-mark">*</span>:</label>
              <!-- <nb-select id="actions" formControlName="actions" placeholder="Select Actions" [(selected)]="selectedItem" class="custom-select-dropdown">
                <nb-option value="click_button">click_button</nb-option>
                <nb-option value="left-arrow">left-arrow</nb-option>
                <nb-option value="right-arrow">left-arrow</nb-option>
                <nb-option value="click_image">click_image</nb-option>
              </nb-select> -->
              <input maxlength="50" id="actions" formControlName="actions" class="form-control" (keydown)="preventSpace($event)"/>
                  
              <div *ngIf="submitted && myForm.get('actions').invalid" class="error-message">
                <small *ngIf="myForm.get('actions').hasError('required')">Actions are required!</small>
                <small *ngIf="myForm.get('actions').hasError('noSpaces')">Spaces are not allowed!</small>          
              </div>
            </div>
          </div>
            <div class="form-row">
                <div class="form-group">
                  <label for="elem_name">Element Name:</label>
                  <input maxlength="50" id="elem_name" formControlName="elem_name" class="form-control" />
                  
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group">
                    <label for="normal_name">Normal Name<span class="star-mark">*</span>:</label>
                    <input maxlength="50" id="normal_name" formControlName="normal_name" class="form-control" />
                    <div *ngIf="submitted && myForm.get('normal_name').invalid" class="error-message">
                      <small *ngIf="myForm.get('normal_name').hasError('required')">Normal name is required!</small>
                    </div>
                  </div>
                </div>
          
            
          </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="close()" class="close-button">Close</button>
      <div class="form-row button-row">
        <button type="submit" (click)="onSubmit()" class="submit-button">Submit</button>
        </div>
    </nb-card-footer>
  </nb-card>
