.plus-circle-icon{
    color: #00A3AB;
    font-size: 3em;
    cursor: pointer;

    position: fixed;
    bottom: 0px;
    left: 60%;
    transform: translateX(-50%);
    z-index: 1000;
}
.application-img{
    width: 100%;
}



.application-container::-webkit-scrollbar {
    width: 5px;
  }
  
  .application-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .application-container::-webkit-scrollbar-thumb {
    background-color: #00a3ab;
    border-radius: 10px;
  }
  
  .application-container::-webkit-scrollbar-thumb:hover {
    background-color: #00a3ab;
  }
  
.no-app-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.data-table{
    width: 100%;
}

.add-button{
    color: #00A3AB;
    border: 1px solid #00A3AB;
    border-radius: 25px;
    text-align: center;
    padding: 0.5em 1em;
}

td{
    padding: 1em 0em;
}

.table-header-div{
    display: flex;
    align-items: center;
    margin: 0.5em 0em;
}

.table-header{
    width: 40%;
    font-weight: 600;
}

.table-data-div-container{
    height: 72vh;
    overflow-y: auto;
}

.table-data-div{
    display: flex;
    align-items: center;
    margin: 0.5em 0em;
}
.table-data{
    width: 40%;
}
.table-header-action,
.s-no-div {
    font-weight: 600;
}

.application-container{
    display: flex;
    flex-wrap: wrap;
    height: 82vh;
    overflow: auto;
}
.application-div{
    position: relative;
    margin: 0.5em;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 1em;
    max-width: 30rem;
    gap: 0.5rem;
}

.edit-div{
    display: flex;
    justify-content: end;
    align-items: center;
}
.edit-icon{
    cursor: pointer;
    color: #00A3AB;
}
.application-info{
    padding: 0rem 0.5rem;
    cursor: pointer;
}
.next-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00A3AB;
    color: white;
}
.next-icon{
    // position: absolute;
    // top: 1rem;
    // right: 1rem;
    color: white;
}

nb-popover .arrow::after{
    top: 0 !important;
}

.popover-card{
    margin-bottom: 0;
    // position: absolute;
    left: 2rem;
    top: 2.5rem;
    // border-radius: 1rem;
  }
  .popover-card > nb-list > nb-list-item{
    cursor: pointer;
    transition: 0.3s;
    padding: 0.4rem;
    // border: none;
  }
  .popover-card > nb-list > nb-list-item:hover{
    color: #00A3AB;
  }


.more-icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #00A3AB;
}

.application-name{
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.3em 0em;
    width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.application-alert{
    position: absolute;
    top: 5rem;
    left: 40rem;
}
