<div class="application-main">
  <div *ngIf="applicationDataArr.length === 0" class="no-app-div">
    <h4>No Application Added Yet</h4>
  </div>


  <!-- <div *ngIf="applicationDataArr.length > 0"> -->
  <div class="application-container">
    <div class="application-div" *ngFor="let item of applicationDataArr; let i = index" >
      <div class="edit-div" >
        <nb-icon [nbPopoverAppendTo]="'viewport'" [nbPopover]="list" (click)="editDeleteFunc(item)" class="edit-icon" icon="more-vertical-outline" nbPopoverPlacement="bottom-end"></nb-icon>
      </div>
        <ng-template #list>
          <nb-card class="popover-card">
            <nb-list>
              <nb-list-item
                (click)="openDialog('edit', appData)">Edit</nb-list-item>
              <nb-list-item (click)="openDeleteDailog(appData)">Delete</nb-list-item>
            </nb-list>
          </nb-card>
        </ng-template>
      <div class="application-info" (click)="navigate(item)">

        <img class="application-img" width="200" src="../../../assets/images/any-logo.png" alt="any-logo">
        <div class="application-name" >{{item.app_name}}</div>
        <div>{{item.platform}}</div>
        
        </div>
      </div>
  </div>

  <!-- <div *ngIf="applicationDataArr.length > 0">
    <div class="container">
      <div class="row table-header-div">
        <div class="col-2 s-no-div">S.No</div>
        <div class="col-4 table-header ">Application</div>
        <div class="col-4 table-header ">Platform</div>
        <div class="col-2 table-header-action">Test Cases</div>
      </div>
    </div>
    <div class="container">
      <div class="row table-data-div" *ngFor="let item of applicationDataArr; let i = index">
        <div class="col-2">{{i + 1}}</div>
        <div class="col-4 table-data">{{item.app_name}}</div>
        <div class="col-4 table-data">{{item.platform}}</div>
        <div class="col-2 table-data-action">
          <button type="submit" (click)="navigate(item)" class="add-button">Add +</button>
        </div>
      </div>
    </div>
  </div> -->
  <nb-icon class="plus-circle-icon" (click)="openDialog()" icon="plus-circle-outline"></nb-icon>
  <nb-alert class="application-alert" *ngIf="applicationNameAlert" status="success" closable (close)="onClose()">
    Application Already exists!
  </nb-alert>
</div>