<div class="application-main">
  <div *ngIf="applicationDataArr.length === 0" class="no-app-div">
    <h4>No Application Added Yet</h4>
  </div>


  <!-- <div *ngIf="applicationDataArr.length > 0"> -->
  <div class="application-container">
    <div class="application-div" *ngFor="let item of applicationDataArr; let i = index">
      <img class="application-img" width="200" src="../../../assets/images/any-logo.png" alt="any-logo">
      <div class="application-name">{{item.app_name}}</div>
      <div>{{item.platform}}</div>
    </div>
  </div>

  <!-- <div *ngIf="applicationDataArr.length > 0">
    <div class="container">
      <div class="row table-header-div">
        <div class="col-2 s-no-div">S.No</div>
        <div class="col-4 table-header ">Application</div>
        <div class="col-4 table-header ">Platform</div>
        <div class="col-2 table-header-action">Test Cases</div>
      </div>
    </div>
    <div class="container">
      <div class="row table-data-div" *ngFor="let item of applicationDataArr; let i = index">
        <div class="col-2">{{i + 1}}</div>
        <div class="col-4 table-data">{{item.app_name}}</div>
        <div class="col-4 table-data">{{item.platform}}</div>
        <div class="col-2 table-data-action">
          <button type="submit" (click)="navigate(item)" class="add-button">Add +</button>
        </div>
      </div>
    </div>
  </div> -->
  <nb-icon class="plus-circle-icon" (click)="openDialog()" icon="plus-circle-outline"></nb-icon>
</div>