.table-row {
    display: flex;
    margin: 0.5em 0em;
}

.parentDiv {
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.parentDiv::-webkit-scrollbar {
    width: 9px;
    margin-right: 1em;
}

.div-padding {
    padding: 1em;
}

.parentDiv::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.parentDiv::-webkit-scrollbar-thumb {
    background-color: #00a3ab;
    border-radius: 10px;
}

.parentDiv::-webkit-scrollbar-thumb:hover {
    background-color: #112e30;
}

.table-heading {
    font-weight: 600;
    text-align: start;
}

.table-data {
    text-align: start;
}

.passed {
    background-color: #d4edda; // Light green for passed
}

.failed {
    background-color: #f8d7da; // Light red for failed
}

.discription-label {
    word-break: break-word;
}

.downloadbtn {
    border: none;
    color: #00A3AB;
    font-weight: 800;
    cursor: pointer;
}

nb-accordion-item-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

nb-accordion-item-body {
    max-height: 100px;
    overflow-y: hidden;


}

// nb-accordion {
//     // max-height: 250px;
//     // overflow-y: auto;f
// }

.descriptionLabel {
    font-weight: bold;
    color: #00a3ab;
}

nb-accordion-item-body::-webkit-scrollbar {
    width: 9px;
    margin-right: 1em;
}

nb-accordion-item-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

nb-accordion-item-body::-webkit-scrollbar-thumb {
    background-color: #00a3ab;
    border-radius: 10px;
}

nb-accordion-item-body::-webkit-scrollbar-thumb:hover {
    background-color: #112e30;
}

nb-accordion::-webkit-scrollbar {
    width: 5px;
}

nb-accordion::-webkit-scrollbar-track {
    background: #f1f1f1;
}

nb-accordion::-webkit-scrollbar-thumb {
    background-color: #00a3ab;
    border-radius: 10px;
}

nb-accordion::-webkit-scrollbar-thumb:hover {
    background-color: #00a3ab;
}

.testSpecification {
    background: #fff;
    width: 100%;
    height: 100%;

}

.heading {
    font-weight: 800;
    font-size: 1.7em;
    margin-bottom: .5em;
}

.header-title{
  left: 50%;
  position: absolute;
  top:40%;
  transform: translateX(-50%) translateY(-50%);
}
.dividerDiv {
    border-bottom: 2px solid #eee;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* height: 1.5em; */
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.subLabel {
    font-size: 0.8em;
    text-align: left;
    margin-left: 3rem;
}

.labelHeading {
    font-weight: bold;
    font-size: 0.8em;
    color: #00A3AB;
}

.reportChart {
    height: 1em;
    transform: translate(-45px, -81px);
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.date-label {
    display: flex;
    gap: 5px;
    right: 1%;
    font-weight: bold;
    font-size: 1.1em;

    span {
        font-size: 0.7em !important;
        color: #00A3AB;
        text-decoration: underline;
    }
}


@media screen and (min-width:1093px )  and (max-width:1242px ){
  .parentDiv {
    height: 29.5em;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
