<div class="main-div">
  <nb-accordion>
    <nb-accordion-item [expanded]="isAccordionExpanded">
      <nb-accordion-item-header>Application Details</nb-accordion-item-header>
      <nb-accordion-item-body class="nb-accordion-body">
        <form [formGroup]="myForm" class="custom-form">

          <div class="form-row">
            <div class="form-group">
              <label for="platform">Platform Name:</label>
              <nb-select [disabled]="true" id="platform" formControlName="platform" placeholder="Select Platform"
                [(selected)]="selectedItem" class="custom-select-dropdown">
                <nb-option value="Android">Android</nb-option>
                <nb-option value="IOS">IOS</nb-option>
                <nb-option value="Windows">Windows</nb-option>
                <nb-option value="MacOS">MacOS</nb-option>
              </nb-select>
              <div *ngIf="myForm.get('platform').touched && myForm.get('platform').invalid" class="error-message">
                <small *ngIf="myForm.get('platform').hasError('required')">Platform Name is required!</small>
              </div>
            </div>

            <div class="form-group">
              <label for="app">App Path:</label>
              <input id="app" formControlName="app" class="form-control" readonly />
              <div *ngIf="myForm.get('app').touched && myForm.get('app').invalid" class="error-message">
                <small *ngIf="myForm.get('app').hasError('required')">App is required!</small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="package">Package Name:</label>
              <input id="package" formControlName="package" class="form-control timeout-input" readonly />
              <div *ngIf="myForm.get('package').touched && myForm.get('package').invalid" class="error-message">
                <small *ngIf="myForm.get('package').hasError('required')">Package name is required!</small>
              </div>
            </div>

            <div class="form-group">
              <label for="automation">Automation Name:</label>
              <input id="automation" formControlName="automation" class="form-control" readonly />
              <div *ngIf="myForm.get('automation').touched && myForm.get('automation').invalid" class="error-message">
                <small *ngIf="myForm.get('automation').hasError('required')">Automation Name is required!</small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="device">Device Name:</label>
              <input id="device" formControlName="device" class="form-control" readonly />
              <div *ngIf="myForm.get('device').touched && myForm.get('device').invalid" class="error-message">
                <small *ngIf="myForm.get('device').hasError('required')">Device Name is required!</small>
              </div>
            </div>

            <div class="form-group">
              <label for="timeout">New Command Timeout:</label>
              <input id="timeout" type="number" formControlName="timeout" class="form-control" readonly />
              <div *ngIf="myForm.get('timeout').touched && myForm.get('timeout').invalid" class="error-message">
                <small *ngIf="myForm.get('timeout').hasError('required')">Timeout is required!</small>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="noReset">No Reset:</label>
              <nb-select id="noReset" [formControlName]="'noReset'" placeholder="Select" class="custom-select-dropdown">
                <nb-option value="true">True</nb-option>
                <nb-option value="false">False</nb-option>
              </nb-select>

              <div *ngIf="myForm.get('noReset').touched && myForm.get('noReset').invalid" class="error-message">
                <small *ngIf="myForm.get('noReset').hasError('required')">No Reset is required!</small>
                <!-- <small *ngIf="myForm.get('noReset').hasError('invalidValue')">You cannot select "False" for No
                  Reset!</small> -->
              </div>
            </div>

            <div class="form-group">
              <label for="hiddenApp">Ignore hidden app policy:</label>
              <nb-select id="hiddenApp" formControlName="hiddenApp" placeholder="Select" class="custom-select-dropdown">
                <nb-option value="true">True</nb-option>
                <nb-option value="false">False</nb-option>
              </nb-select>
              <div *ngIf="myForm.get('hiddenApp').touched && myForm.get('hiddenApp').invalid" class="error-message">
                <small *ngIf="myForm.get('hiddenApp').hasError('required')">Hidden App is required!</small>
                <!-- <small *ngIf="myForm.get('hiddenApp').hasError('invalidValue')">You cannot select "False" for Ignore -->
                <!-- Hidden App!</small> -->
              </div>
            </div>
          </div>


          <div class="form-row">

            <div class="form-group">
              <label for="buildNo">Build No<span class="star-mark">*</span>:</label>
              <input id="buildNo" formControlName="buildNo" class="form-control" />
              <div *ngIf="myForm.get('buildNo').touched && myForm.get('buildNo').invalid" class="error-message">
                <small *ngIf="myForm.get('buildNo').hasError('required')">Build Number is required!</small>
              </div>
            </div>

            <div class="form-group">
              <label for="description">Description<span class="star-mark">*</span>:</label>
              <textarea maxlength="240" rows="4" cols="50" id="description" formControlName="description"
                class="form-control description-input"></textarea>
              <div *ngIf="myForm.get('description').touched && myForm.get('description').invalid" class="error-message">
                <small *ngIf="myForm.get('description').hasError('required')">Description is required!</small>
              </div>
            </div>

          </div>

          <div class="form-row button-row">
            <!-- <button class="edit-button" (click)="onEdit()">Edit</button> -->
            <button type="submit" [disabled]="myForm.invalid" (click)="onSubmit()" class="submit-button">Launch
              App</button>
            <!-- <button type="submit" class="submit-button">Submit</button> -->
          </div>
        </form>

      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

  <!-- <div *ngIf="isAppLaunched"> -->

  <div class="test-case-container" *ngIf="templateData?.screens?.length > 0">

    <div class="test-case-div">
      <h5>{{templateData?.wt_name}}</h5>
      <div [nbSpinner]="startApp" class="instuction-loader"></div>
      <!-- <button [disabled]="appLaunchStatus === 'FAILED'" [ngClass]="appLaunchStatus === 'FAILED' ? 'not-allowed' : ''" class="start-button" (click)="onStartTrans()">Start</button> -->
      <button *ngIf="!showIndividualEnd" class="start-button" (click)="onStartTrans(templateData,true)"
        [disabled]="!isAppLaunched"
        >{{showEnd?'End Test':'Start All'}}</button>
      <button *ngIf="showIndividualEnd" class="start-button" (click)="endSingleInstruction()">Finish Test</button>


    </div>
    <!-- <div  class="test-case-div">
      <h5>Do a Transaction</h5>
  <button class="start-button" (click)="onStartTrans()">Start</button>

    </div> -->


    <div class="test-case-status-container">

      <ng-container *ngFor="let testCase of testCases">
        <div class="test-case-div test-case-border">
          <h6 class="testCase-header">{{testCase?.ins_set_screen_name}}</h6>
          <div [nbSpinner]="testCase?.ins_set_screen_name === currentOnGoingScreen" class="instuction-loader"></div>
          <button *ngIf="!testCase.hideStart && !hideAll" class="start-button" (click)="onStart(testCase,testCases)"
            [disabled]="!isAppLaunched">Start</button>
        </div>
        <div>
          <ng-container *ngFor="let item of testCase.testCase">
            <div *ngIf="item.ins_set_id === testCase.ins_set_id" class="test-case-div test-case-body-data">
              <h6>{{item?.ins_name}}</h6>
              <div [nbSpinner]="item.singleInstLoader" class="instuction-loader"></div>
              <!-- <button *ngIf="!item.showSingleInstruction && !hideAll && (!testCase.hideStart && !item?.status)"
                class="start-button" (click)="singleInstructionWebsocket(item, testCases ) "
                [disabled]="!isAppLaunched">Run</button> -->
              <div *ngIf="item?.status"
                [ngClass]="item?.status === 'SUCCESS' ? 'success-status-result' : item?.status === 'FAILED' ?'failed-status-result' : 'skip-status-result'">
                {{item?.status}}
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>


    </div>
  </div>
  <!-- </div> -->

</div>
<div>
  <nb-icon (click)="goBack()" icon="arrow-ios-back-outline" class="back-btn"></nb-icon>
</div>
<div *ngIf="appLaunchLoading" class="loader-container">
  <div class="loader-div">
    <div>App Launching</div>
    <div [nbSpinner]="appLaunchLoading" nbSpinnerStatus="info" class="spinner-div"></div>
    <div>Please Wait...</div>
  </div>
</div>

<div *ngIf="showAppLaunchError" class="loader-container">
  <div class="loader-div">
    <div>{{appLaunchStatus}}</div>
  </div>
</div>

<div *ngIf="showWaitLoader" class="loader-container">
  <div class="loader-div">
    <div>Please wait while we are processing your last request.</div>
  </div>
</div>