// .custom-form {
//     // max-width: 800px;
//     margin: 0 auto;
//     border-radius: 8px;
//   }
  
//   /* Form row with two fields side by side */
  .form-row {
    display: flex;
    gap: 20px; /* Add space between the form fields */
    margin-bottom: 10px;
    width: 300px;
  }
  
//   /* Each form group inside the row */
  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
//   /* Label styling */
  label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
//   /* Input fields and select dropdowns */
  .form-control,
  .custom-select-dropdown {
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border 0.3s ease;
    max-width: 100% !important;
  }
  
//   /* Focused input fields and select dropdowns */
  .form-control:focus,
  .custom-select-dropdown:focus {
    // border-color: #007bff;
    outline: none;
    border: none;
  }
  
//   /* Error message styling */
  .error-message {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: 5px;
  }

  .no-app-footer{
    padding: 0.5rem;
  }
  
//   /* Submit button styling */
  .submit-button {
    background-color: #00A3AB;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    // width: 20%;
    transition: background-color 0.3s ease;
    border-radius: 25px;
  }

  .close-button{
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 25%;
    transition: background-color 0.3s ease;
    outline: none;
    padding: 0.4875rem 1.125rem !important;
    border: 1px solid #16a3ad !important;
    color: #16a3ad !important;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 25px;
    background: white;
  }
  
  .submit-button:disabled {
    background-color: #00A3AB;
    cursor: not-allowed;
  }
  
  .submit-button:hover:not(:disabled) {
    background-color: #00A3AB;
    color: #ffffff;
  }

  .submit-button:focus {
    border: none;
    outline: none;
  }

  .button-row{
    justify-content: end;
  }

  nb-card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 10px;
  }
  