<nb-card *ngIf="selectedType !== 'edit'">
    <nb-card-header>App Application</nb-card-header>
    <nb-card-body>
        <form [formGroup]="myForm"  class="custom-form">
            <div class="form-row">
                <div class="form-group">
                  <label for="application">Application Name<span class="star-mark">*</span>:</label>
                  <input maxlength="50" id="application" formControlName="application" class="form-control" />
                  <div *ngIf="submitted && myForm.get('application').invalid" class="error-message">
                    <small *ngIf="myForm.get('application').hasError('required')">Application name is required!</small>
                  </div>
                </div>
              </div>
              <div class="form-row">
              <div class="form-group">
                <label for="platform">Platform Name<span class="star-mark">*</span>:</label>
                <nb-select id="platform" formControlName="platform" placeholder="Select Platform" [(selected)]="selectedItem" class="custom-select-dropdown">
                  <nb-option value="Android">Android</nb-option>
                  <nb-option value="IOS">IOS</nb-option>
                  <nb-option value="Windows">Windows</nb-option>
                  <nb-option value="MacOS">MacOS</nb-option>
                </nb-select>
                <div *ngIf="submitted && myForm.get('platform').invalid" class="error-message">
                  <small *ngIf="myForm.get('platform').hasError('required')">Platform Name is required!</small>
                </div>
              </div>
            </div>
          
            
          </form>
    </nb-card-body>
    <nb-card-footer class="no-app-footer">
      <button nbButton (click)="close()" class="close-button">Close</button>
        <button type="submit" (click)="onSubmit()" class="submit-button">Submit</button>
    </nb-card-footer>
  </nb-card>

  <nb-card *ngIf="selectedType === 'edit'">
    <nb-card-header>App Application</nb-card-header>
    <nb-card-body>
        <form [formGroup]="myForm"  class="custom-form">
            <div class="form-row">
                <div class="form-group">
                  <label for="application">Application Name<span class="star-mark">*</span>:</label>
                  <input maxlength="50" id="application" formControlName="application" class="form-control" />
                  <div *ngIf="submitted && myForm.get('application').invalid" class="error-message">
                    <small *ngIf="myForm.get('application').hasError('required')">Application name is required!</small>
                  </div>
                </div>
              </div>        
            
          </form>
    </nb-card-body>
    <nb-card-footer class="no-app-footer">
      <button nbButton (click)="close()" class="close-button">Close</button>
        <button type="submit" (click)="onSubmit()" class="submit-button">Submit</button>
    </nb-card-footer>
  </nb-card>
